a {
    color: #e6b00f;
}

body {
    background-image: url("../images/typeset.jpg");
  width: 100%;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.jumbotron {
    height:100%;
    width:100%;
}

.articles-holder {
    list-style: none;
    -webkit-padding-start: 0;
}

.article {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #151515;
}

.article h4 {
    padding: 10px;
    border-radius: 5px;
    background-color: #1e1f21;
}

.article h4 a {
    color: white;
}

.article h4 > small > a {
    color: #e6b00f;
}

.form-control {
    background-color: #080808;
}
